 body {
  margin: 0;
  /* background-color: rgb(224, 221, 221); */
  /* text-align: center; */
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 100px);
  background-image: url('https://media.istockphoto.com/photos/childs-hand-and-light-bulb-illustration-and-point-word-picture-id1320114214'), linear-gradient(to right bottom, white, blue);
}
.abc{
  display: flex;
}
.def{
  /* padding-left: 25%; */
}
.adjust{
  /* padding-left: 20%; */
/* margin-left: 20%; */
/* background-color: aliceblue; */

}
.foot{
  background-color: rgb(243, 237, 237);
  border-top: 0.4px solid rgb(243, 177, 177);
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1vmax;
  /* display: flex; */

}